<% if !@top_users.empty? %>
  <div class="top_badge_user">
    <div class="line"><h4>Top Badge Users</h4></div>
    <% for provider in @top_users %>
      <% if provider.badge %>
        <a class="badge thumb" href="/twitter/<%= provider.uuid %>">
          <%= image_tag(provider.badge.url, :class=>"avatar")%>
          <p class="count"><b><%= provider.uuid %></b><br/><%= provider.followers_count %> Followers</p>
        </a>
      <% end %>
    <% end %>
  </div>
<% end %>
