<% @ivoted_tweets= ivoted_tweets %>
<% if @ivoted_tweets && !@ivoted_tweets.nil? %>
  <div class="tweets">
    <div class="line"><h4>Tweet Stream</h4></div>
    <div class="rounded_box">
      <% @ivoted_tweets.results.map do |post| %>
        <div class="post">
          <%= image_tag(post[:user][:profile_image_url], :style=> "float:left")%>
          <div class="b">@<%= post[:user][:screen_name] %></div>
          <%= post[:text] %><br/>
        </div>
      <% end %>
    </div>
  </div>
<% end %>