<h2>iVoted2012</h2>
<p class="splash_text">
  <%= image_tag("example_badge.jpg", :align=> "right", :class=> "splash_img")%>
<b><%= User.count %></b> People are Helping to Get their Friends To Vote... Tell Your friends too. Get your own "iVoted2012" twitter badge and your own "iVoted2012.org" profile page.<br/><br/>
<span class="center">
<%= link_to "Sign-In with Twitter", "/login", :class=>"button thoughtbot"%>
</span>
</p>