<div id="image_picker">
 
  <div class="preview">
    <%= image_tag(@user.avatar.url, :class=>"original")%>
    <%= image_tag("#{@user.twitter_badge_style}.png", :class=>"overlay")%>
  </div>
   <div class="overlay_selection closed">
    <span class="center">
    <%= link_to "Download Badge", "/users/download_badge" %><br/><br/>
    <%= link_to "Change Badge", "/users/pick_badge", :class=>"button blue twitter"%>
    </span>
  </div>
</div>