<h1>Listing posts</h1>

<table>
  <tr>
    <th>Screen name</th>
    <th>Content</th>
    <th>Platform</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.screen_name %></td>
    <td><%= post.message %></td>
    <td><%= post.platform %></td>
  </tr>
<% end %>
</table>
