<% if flash[:notice] %>
    <div id="notice"><span>
      <p class="flash-notice">
        <% if current_user %>
          <%= flash[:notice].
                gsub('CURRENT_ID', current_id).
                gsub('CURRENT_LOGIN', current_login).
                gsub('VOTE_NOTICE', vote_notice).
              html_safe %>
        <% else %>
          <%= flash[:notice].html_safe %>
        <% end %>
      </p>
    </span></div>
<% end %>