<% if flash[:notice] %>
    <div id="notice"><span>
      <p class="flash-notice">
        <% if current_user %>
          <%= personalize(flash[:notice]).html_safe %>
        <% else %>
          <%= flash[:notice].html_safe %>
        <% end %>
      </p>
    </span></div>
<% end %>