<% if (params[:action] == 'edit' || params[:action] == 'show') %>
  <% if !current_page?('/') %>
     <ul class="menu">
       <% if !current_user %>
          <li><%= link_to "Gonna vote? Get your own page", "/#{params[:controller]}/new", :class=>"button grey" %></li>
       <% else %>
          <li><%= link_to "Logout", signout_path, :method => :delete, :class=>"button grey" %></li>
       <% end %>
     </ul>
   <% if current_user && params[:action] == 'edit' %> 
      <ul class="menu">
        <li><%= link_to "Cancel", "/#{params[:controller]}/#{current_login}", :class=>"button red" %></li>
        <li><%= link_to "Save Page", "javascript:$('.edit_user').submit();", :class=>"button green" %></li>
      </ul>
    <% end %>
  <% end %>
<% end %>