<ul class="menu">
 <% if !current_user %>
  <li><%= link_to "Sign-in", "/login" %></li>
<% else %>
  <li><%= link_to "View", user_path(current_user) %> |</li>
  <li><%= link_to "Edit", edit_user_path(current_user) %> |</li>
  <li><%= link_to "Logout", signout_path, :method => :delete %></li>
<% end %>
</ul>

